<!DOCTYPE html>
<html>
<head>
  <title>Update Student Age</title>
</head>
<body>
<h2>Enter student name and age to update the student age.</h2>
  <form action="/students" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="age" placeholder="Age">
    <button type="submit">Save</button>
  </form>
</body>
</html>